---
name: Ansible role testing
'on':
  pull_request:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  schedule:
    - cron: "30 7 1 * *"

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Run ansible-lint
        uses: ansible/ansible-lint@main

  test:
    name: molecule
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        distro:
          - ubuntu2204
          - ubuntu2404
          - rockylinux9
          - rhel9
        version: [12, 13, 14, 15]

    steps:
      - name: Check out the Repository
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v4

      - name: Run molecule tests
        run: uv run molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
          MOLECULE_POSTGRESQL_VERSION: ${{ matrix.version }}
